<ion-header>
  <ion-toolbar>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="todo" (ngSubmit)="logForm()">
    <ion-item>
      <ion-label position="floating">Name *</ion-label>
      <ion-input type="tel"  required  formControlName="name"  (ngModelChange)="$event.toUpperCase()"></ion-input>
      <ion-icon name="person-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Address *</ion-label>
      <ion-input type="tel"  formControlName="address"></ion-input>
      <ion-icon name="pin-outline" slot="end"></ion-icon>
    </ion-item>



    <ion-item>
      <ion-label position="floating">Phone *</ion-label>
      <ion-input type="tel"  maxlength="10" required  formControlName="phone"></ion-input>
      <ion-icon name="call-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item  [formGroup]="todo">
      <ion-label>Gender</ion-label>
      <ion-select (ionChange)="batchChange(batch)" [(ngModel)]="batch" formControlName="gender" >
        <ion-select-option value="M">Male</ion-select-option>
        <ion-select-option value="F">Female</ion-select-option>
      </ion-select>
    </ion-item>



    <ion-button class="main-button" type="submit" expand="block" [disabled]="!todo.valid">Update Profile</ion-button>
  </form>
</ion-content>
