<ion-header>
    <ion-toolbar class="col-12">
        SGNI Terms
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="ion-text-justify">
        <ion-card>
            <ion-card-content>
              <strong>1.</strong> Account Registration and use
                SGNI makes the Services available to you through the SGNI Platform upon you providing SGNI certain
                required User information and having created an account ("Account") through SGNI ID and password or
                other log-in ID and password (collectively, the "Account Information"). The SGNI Platform requires you
                to register as a User by creating an Account in order to utilize the Services AND Discounts. You will be
                responsible for maintaining the confidentiality of the Account Information, and are fully responsible
                for all activities that occur under Your Account. You agree to (a) immediately notify SGNI of any
                unauthorized use of its Account Information or any other breach of security, and (b) ensure that you
                exit/log out from the account at the end of each session. SGNI cannot and shall not be liable for any
                loss or damage arising from your failure to comply with this clause. You may be held liable for losses
                incurred by SGNI or any other customer or visitor to the SGNI Platform due to authorized or unauthorized
                use of your account as a result of your failure in keeping its Account Information secure and
                confidential.
                SGNI also allows restricted access to the SGNI Platform for unregistered users. At the time of
                registration, you shall ensure that the Account Information provided by you in the SGNI Platform
                registration form is complete, accurate and up-to-date. Use of another user’s account information is
                expressly prohibited.

                <p><strong>2.</strong> Term & Termination
                    In case you wish to discontinue you can at any point opt out of your membership of the SGNI
                    Platform.
                    SGNI deserves the right to unilaterally terminate your use of the SGNI Platform without notice or
                    any
                    liability for reasons of breach of the terms mentioned herein.</p>

                <p><strong>3.</strong>  Third Party Links
                    This SGNI Platform may at SGNI sole discretion, contain links to SGNI Platforms owned and maintained
                    by
                    persons or entities other than SGNI. SGNI may also provide links to the other sites for purpose of
                    enabling the Customer to make payment to SGNI. Any of the foregoing links do not constitute an
                    endorsement by SGNI of any such sites and are provided only as a convenience. SGNI is not
                    responsible
                    for the content or links displayed on such sites. SGNI is not responsible for the privacy practices
                    of
                    such sites which SGNI does not own, manage or control. SGNI does not regularly review, and makes no
                    warranty or representation regarding materials posted, or Services or services offered, on the sites
                    to
                    which this SGNI Platform may be linked and SGNI shall not be responsible for any deficiency thereof.
                    SGNI does not endorse any or all of the materials, Services, and services available on such linked
                    sites, and SGNI expressly disclaims responsibility for the contents of any linked site, the accuracy
                    of
                    any information contained in a linked site, and the quality of the Services and services offered at
                    any
                    linked site. Any decision to view the contents of any linked site is solely the responsibility of
                    User
                    and is made at User’s own risk.</p>


                <p>
                    <strong>4.</strong> General Provisions
                    Governing Law and Jurisdiction: This Agreement, and all transactions entered into on or through SGNI
                    Platform shall be interpreted, construed and governed by the laws of India which shall be applicable
                    to
                    this Agreement without regard to principles of conflict of laws. User agrees that all claims,
                    differences and disputes arising under or in connection with or in relation hereto the SGNI
                    Platform,
                    the terms or any transactions entered into on or through the SGNI Platform or the relationship
                    between
                    User and SGNI shall be subject to the exclusive jurisdiction of the courts at Delhi and User hereby
                    accede to and accept the jurisdiction of such courts.
                    No Waiver :Any failure, delay or forbearance on the part of SGNI in: (i) exercising any right, power
                    or
                    privilege under this Agreement; or (ii) enforcing terms of this Agreement, shall not operate as a
                    waiver
                    thereof, nor shall any single or partial exercise by SGNI of any right, power or privilege preclude
                    any
                    other future exercise or enforcement thereof.
                    No Refund: No refund policy is applicable when fee is finally deposited at institute or SGNI portal.
                    Discounts and offers: Discounts and offers are sole discretion of SGNI, not any institute is giving
                    any
                    discount to any customer or student. And also any institute canot offer any discount to student or
                    customer once institute get signup with SGNI.
                    Severability: The Parties hereto agree that each of the provisions contained in this Agreement shall
                    be
                    severable, and the unenforceability of one or more provisions of this Agreement shall not affect the
                    enforceability of any other provision(s) or of the remainder of this Agreement.
                </p>


            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
