.red {
  color: #ff0000;
}

.black {
  color: #211f1f;
}

.yellow {
  color: #f5ce42;
}
.pay-btn{
  background-color: #17f9f2;
  background-image: linear-gradient(315deg, #17f9f2 0%, #b0f9a9 74%);

  --background: linear-gradient(90deg, rgba(102,126,234,1) 0%, rgba(100,182,255,1) 100%);
  --box-shadow: none;
  position: relative;
  height: 50px;
  margin-bottom: 15px;
}
