.main {
  background: #f05454;
  color: floralwhite;
  text-align: center;
}

ion-header {
  ion-card {
    color: #f05454;
    text-align: center;
    border-radius: 10%;
  }

}

/*similar to pdf*/
.image {
  width: 100%;
  text-align: center;


  img {
    width: 150px;
    height: auto;
  }
}

.red{

}
.grey{

}
