<ion-header>
    <ion-toolbar class="col-12">
        About SGNI
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="ion-text-justify">
        <ion-card>
            <ion-card-content>
                SGNI was established in 2010. SGNI is a prominent institute that offers several intensive yet exciting
                programs/services for the last many years. This institute has continuously worked to upgrade its content
                and provide accurate guidance to the students. We have a team of self-motivated, highly dedicated
                professionals with an unwavering commitment and a single-minded focus on empowering (our students) with
                appropriate knowledge that enable them to achieve their goals. The main reason for the establishment of
                SGNI is to make an educational chain between student and institute.

                We push ourselves beyond our abilities to provide a flexible service. SGNI has grown from a home project
                to one of the largest aggregators in the field of education. We not only connect students to provide
                services in every context but also work closely with institutes to enable a piece of accurate
                information regarding every course choose by students. we are providing the one-stop solution for all
                students who desire to pursue their higher studies and enhance their career abroad. With our assistance,
                our clients/students are bound to achieve great heights and succeed in achieving their goals.


            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-title class="text-center">Role of SGNI</ion-card-title>
            <ion-card-content>
                SGNI, plays a significant role between Institute and Students. In this competitive time, we will provide
                our best services in the education world. We start from the first step of guiding, then the choice of
                admission in their favourable institute with special discounts and offers. Basically, from beginning to
                end we hold your hands and guide you to choose your path. This platform benefits for every student as we
                want to help students while choosing their career and the institute.
            </ion-card-content>
        </ion-card>


        <ion-card>
            <ion-card-title class="text-center">SGNI Provide Free Services</ion-card-title>
            <ion-card-content>
                Free personal Counselling: There is nothing that cannot be achieved without education and correct
                guidance add up to success. The counselling given by the consultants of SGNI makes the mind to convert
                your dreams into reality. We are always welcome you for personal guidance regarding the choice of the
                institute or all types of information related to education.

                <ion-card-content class="ion-no-padding">

                    Check ratings and faculty of institutes: SGNI ranks institutes on the basis of few parameters. Each
                    parameter has a certain weightage and institutes are evaluated out of a total score for the sake of
                    students.
                    The blog for interesting guides, news and expert tips: -we are providing you with the helpful tips,
                    interesting guides and news for better preparation in exams.

                </ion-card-content>
            </ion-card-content>
        </ion-card>


        <ion-card>
            <ion-card-title class="text-center">Journey of SGNI</ion-card-title>
            <ion-card-content>
                In the beginning, we owe our success to three critical elements-unique teaching methods, capable and
                motivated team and Continuous improvement. At first, we start our journey to help the students by giving
                them the short courses with quality of content such as Competitive Exam, Banking exams, IBPS, SSC, RRB,
                IIT, JEE, GATE, UPSC, STENOGRAPHY, Accountancy etc. Along with this, we raise our services in the field
                of IELTS, PTE, TOEFL, With the change of time, the methods of teaching and polish the students in the
                field of LANGUAGES are different and most of the institutes have been opened recently related to IELTS,
                PTE, TOEFL for those who want to go abroad for further studies. When the student steps out for the
                search of institutes then he/she find a number of institutes and get confused for the selection
                according to their requirement. When our experts have an eye on this point then Again for the purpose to
                help the students SGNI brings a volcanic change in the field of education.

                We just linked up with all the institutes, collect all information related to IELTS and then help the
                students while choosing the best coaching institutes with discounts so that they select an institute
                according to their requirement. Basically, we are just a service provider who able to give services
                under one roof.
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
