<ion-header>
  <ion-toolbar>
    <ion-title> No Internet Connection     <ion-spinner name="crescent"></ion-spinner>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!--  <img src="../../../assets/nointernet.gif"/>

  <ion-card-header>Make sure your connection is secure !</ion-card-header></ion-card>-->

  <div class="container">
    <div class="headChar"></div>
    <div class="bodyChar"></div>
    <div class="firstLeg"></div>
    <div class="secondLeg"></div>
    <div class="shadowChar"></div>
  </div>

<div class="text-flicker-in-glow">Make sure your connection is secure !</div>

</ion-content>
