.main {
  .first {

    float: left;
  }

  .second {
    float: right;
  }
}

.red {
  color: #f05454;
}


.blue {
  color: #1687a7;
}

.green {
  color: #16c79a;
}

.orange {
  color: #eb5e0b;
}
.card{
  ion-card {
    border-radius: 10px;
  }
}
